
* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 150px;
    background-color: #4d9ffd;
    background-image: url("../img/pattern.png");
    background-position: top;
    background-repeat: repeat;
}

.content {
    padding: 0 10px;
}

.logo {
    height: 50%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo img {
    height: 100%;
    width: 100%;
}

#main-title {
    padding-top: 25px;
}

#main-title > #sub-title {
    color: grey;
    font-weight: 400;
}

#main-title .author-link {
    text-decoration: none;
    color: #0064d4;
}

.photos {
    height: 300px;
}

.photo {
    display: inline-block;
    height: 100%;
}

.photo img {
    max-height: 100%;
    max-width: 100%;
}




/*.photos {*/
/*    display: block;*/
/*    width: 100vw;*/
/*}*/

/*.photos img {*/
/*    width: 40%;*/
/*}*/

